* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	width: 767px;
	margin: 0 auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	width: 767px;
	padding-right: 15px;
	padding-left: 15px;
}

.onecol {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	float: left;
}

.twocol {
	width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	float: left;
}

section {
	margin: 0 0 1em 0;
}

@media (max-width: 767px) {
	.container  {
		width: 100%;
	}
	
	.row {
		margin: 0;
	}
	
	.col {
		width: auto;
	}	
}

textarea {
	min-height: 200px;
	font-size: 16px;
	line-height: 24px;
	padding: 0px;
	border: 1px solid #ddd;
}

input[type=text] {
	font-size: 16px;
	line-height: 24px;
	padding: 10px;
	border: 1px solid #ddd;
}

.marker {
	background: #d8dfea;
	background: -webkit-gradient(linear, center top, center bottom, from(#dce6f8), to(#bdcff1));
	background: -webkit-linear-gradient(#dce6f8, #bdcff1);
	border-radius: 2px;
	box-shadow: 0 0 0 1px #a3bcea;
}

.markerTextColor {
	color: red;
}